/* /Components/BCR.razor.rz.scp.css */
main[b-zrhgdftt51] {
    position: relative;
}

main[b-zrhgdftt51] >  *:first-child {
    position: absolute;
}
/* /Components/ErrorView.razor.rz.scp.css */
.error[b-p067b4eg7m] {
    background: #b32121;
    color: white;
    font-family: var(--font-code);
}
/* / */
:root {
    --font-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --font-ui: system-ui, sans-serif;
}

svg text {
    user-select: none;
}
