/* /Components/BCR.razor.rz.scp.css */
main[b-zrhgdftt51] {
    position: relative;
}

main[b-zrhgdftt51] >  *:first-child {
    position: absolute;
}
/* /Components/ErrorView.razor.rz.scp.css */
.error[b-p067b4eg7m] {
    background: #b32121;
    color: white;
    font-family: var(--font-code);
}
/* /Components/ResponsivePanes.razor.rz.scp.css */
/* By default, display the panes on either side of the main content. */
#panes[b-h79aw4bjii] {
    height: 100%;
    padding: 15px;
    display: grid;

    grid-template-areas: 'first content second';
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
}

#content[b-h79aw4bjii] {
    grid-area: content;
    font-family: var(--font-industrial);
}

#first[b-h79aw4bjii] {
    grid-area: first;
    justify-self: start;
    font-family: var(--font-ui);
}

#second[b-h79aw4bjii] {
    grid-area: second;
    justify-self: end;
    font-family: var(--font-ui);
}

/* On a sub-tablet screen, display the side panes below the main content and scale text. */
@media (max-width: 1024px) {
    #panes[b-h79aw4bjii] {
        grid-template-areas: 'content' 'first' 'second';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;

        font-size: 8vw;
    }

    #first[b-h79aw4bjii], #second[b-h79aw4bjii] {
        justify-self: center;
    }

    @media (orientation: landscape) {
        #panes[b-h79aw4bjii] {
            font-size: 8vh;
        }
    }
}

/* On HD screens, add extra insets */
@media (min-width: 1280px) {
    #panes[b-h79aw4bjii] {
        padding: 60px;
    }
}

@media (min-width: 1920px) {
    #panes[b-h79aw4bjii] {
        padding: 120px;
    }
}
/* /Pages/Index.razor.rz.scp.css */
button[b-2fkae2nekj] {
    color: white;
    background: black;
    border: 3px solid white;
    border-radius: 6px;
}

button:hover[b-2fkae2nekj] {
    background: #333;
}

button:active[b-2fkae2nekj] {
    background: #666;
}

svg text[b-2fkae2nekj] {
    user-select: none;
}
/* / */
:root {
    --font-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --font-ui: system-ui, sans-serif;
}
