@code {
    [Parameter] public RenderFragment? MainContent { get; set; }
    [Parameter] public RenderFragment? FirstPane { get; set; }
    [Parameter] public RenderFragment? SecondPane { get; set; }
}

<div id="panes">
    <section id="content">
        @MainContent
    </section>
    <section id="first">
        @FirstPane
    </section>
    <section id="second">
        @SecondPane
    </section>
</div>