@page "/"
@code {
    [CascadingParameter] public required Game State { get; set; }
}

<PageTitle>In the Line of Business</PageTitle>

<p>Elapsed: @((int)State.Counter)</p>
<button @onclick="() => State.Counter++">+1</button>